@use "mixins";

.force-grid {
    display: grid !important;
}

.grid {
    display: grid;
}

.grid-col-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-d-2 {
    grid-template-columns: 1fr 1fr;
}

@include mixins.media-tablet {
    .grid-d-2 {
        grid-template-columns: 1fr;

    }
}